<div class="container-big-card">

    <div class="big-card-photo">
        <img src="https://cdn.pixabay.com/photo/2015/09/17/16/40/book-944462_960_720.jpg" alt="" srcset=""
            height="200px">
    </div>

    <div class="big-card-tittle">
        <h1><a href="#">Nova versão do angular disponivel</a></h1>
    </div>

    <div class="big-card-description">
        <p>
            <a href="#">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, perferendis tempore dolorum quo
                nostrum
                beatae, quidem et fugit vero obcaecati, quae dignissimos. Distinctio itaque sequi maxime porro, fuga
                voluptates enim!
            </a>
        </p>
    </div>

</div>