.container-big-card{
    margin-left: 20px;
    margin-right: 20px;

    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.big-card-tittle > h1 > a{
    margin-top: 15px;
    font-size: 20px;
}

.big-card-description{
    margin-top: 20px;
    text-align: justify;
}

.big-card-description > p > a{
    background-color: #444;
    font-size: 18px;
    padding: 2px 34px 0;
    box-shadow: 0 2px 5px #00000042;
}

.big-card-photo > img{
    width: 100%;
    min-width: 400px;
}