.container-small-card {
  width: 500px;
  margin-bottom: 1.25rem;
}

.container-small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card-photo>img {
  width: 11rem;
  height: 6.7rem;
  margin-right: 1.25rem;
}

.small-card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.small-card-title > p {
  color: grey;
  font-size: .625rem;
  font-weight: 700;
}

.small-card-title > h1 > a {
  font-size: 1.25rem;
}

.container-separator {
  margin-top: 1.25rem;
}
