
<app-menu-title></app-menu-title>

<div class="articles-container">

    <div class="articles-main">
        <app-big-card
        id="1"
        photoCover="https://miro.medium.com/max/1400/1*Jb9xAs1zglLMElx-cpNRAg.png"
        date="03/03/2023 às 11:15"
        cardTitle="Angular 13 é lançado com novos recursos e melhorias de desempenho"
        cardDescription="A última versão do Angular, o popular framework JavaScript da Google, chega com uma série de novos recursos e aprimoramentos para tornar a criação de aplicativos web ainda mais fácil e eficiente.">
      </app-big-card>
    </div>

    <div class="articles-others">
        <app-small-card id="2"
        cardTitle="Como migrar de AngularJS para Angular"
        date="15/02/2023 às 14:30"
        photoCover="https://uploads-ssl.webflow.com/5ea9a731ca3c740bf6c0ad17/617ffdd65fde35616e14e28d_AngularJS%20to%20Angular%20migration%201600x800.png">
        </app-small-card>

        <app-small-card
        id="3"
        cardTitle="5 dicas para aprimorar sua habilidade em Angular"
        date="13/02/2023 às 08:45"
        photoCover="https://media.licdn.com/dms/image/C4D12AQEWbBRj-M8C-Q/article-cover_image-shrink_720_1280/0/1611230282322?e=2147483647&v=beta&t=pP1ljrpbR4ouGPz0gloSFHQYaWxRFqzLcWWSSqrU6zA">
        </app-small-card>

        <app-small-card
        id="4"
        cardTitle="Desenvolvimento de aplicativos mobile com Angular e Ionic"
        date="23/01/2023 às 16:00"
        photoCover="https://cdn.hashnode.com/res/hashnode/image/upload/v1607853398877/AUXA43sUw.jpeg">
        </app-small-card>
    </div>

</div>
